/** @format */

.header {
   z-index: 2;
}

.construct {
   position: absolute;
   top: 0;
   left: 0;
   background: url('/assets/img/133665c7b30f3df4418ed2ceccb81e96.jpeg')
      #08093cb3;
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode: darken;
   width: 100%;
   height: 100%;
}

.construct .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(74, 216, 74, 0.55);
}

.construct .container {
   position: relative;
   z-index: 1;
}

.construct .flex {
   align-items: center;
   flex-flow: column;
   height: 100%;
}

.progress-wrapper {
   width: 100%;
   max-width: 500px;
   background: #2f2b2bc7;
   display: flex;
   margin-bottom: 20px;
   border-radius: 5px;
}

.progress {
   width: 0%;
   height: 10px;
   background: white;
   border-radius: 5px;
   display: flex;
   justify-content: flex-end;
   /* transition: all 0.003 ease-in; */
}

.progress span {
   color: white;
   position: relative;
   top: 13px;
   left: 25px;
   font-weight: 800;
}
