/** @format */

.courses {
   width: 100%;
   padding: 50px 0;
}

.courses .flex {
   align-items: start;
   flex-wrap: wrap;
}

.course-content {
   margin: 20px 10px;
   box-shadow: 3px 3px 10px #ddd;
   height: auto;
   transition: 0.3s ease;
}

.course-content:hover {
   transform: translateY(-10px);
}

.course-img {
   width: 300px;
   height: 200px;
}

.course-title {
   font-size: 30px;
   font-weight: 500;
   padding: 0 10px;
}

.course-desc {
   width: 100%;
   margin: auto;
   position: relative;
   min-height: 400px;
}

.course-desc .flex {
   width: 100%;
   justify-content: space-between;
   align-items: stretch;
   gap: 20px;
   margin: 20px auto;
}

.courseDesc-content {
   width: 100%;
   max-width:700px;
}

.courseDesc-img {
   width: 700px;
   height: 400px;
}

.graphics,
.ui_ux,
.web-dev,
.dig-mkt {
   background: #efefef;
}

.graphics .service-txt,
.ui_ux .service-txt,
.web-dev .service-txt,
.dig-mkt .service-txt {
   list-style: none;
   font-size: 16px;
   font-family: 'Inter', sans-serif;
}

.graphics .btn-transparent,
.ui_ux .btn-transparent,
.web-dev .btn-transparent,
.dig-mkt .btn-transparent {
   color: black;
}

.courseDesc-content .highlight{
   background:green;
   color:#fff;
   padding: 5px;
}

/* .branding {
   width: 100%;
   min-height: 600px;
   background: url('../img/branding.jpeg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
}
.web-design {
   width: 100%;
   min-height: 600px;
   background: url('../img/coding.jpeg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
}
.marketing {
   width: 100%;
   min-height: 600px;
   background: url('../img/marketing\ 2.jpeg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
}
.academy {
   width: 100%;
   min-height: 600px;
   background: url('../img/marketing.jpeg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
} */
