/** @format */

.services {
   width: 100%;
   position: relative;
   min-height: 400px;
}

.services .container {
   position: relative;
   z-index: 1;
   /* background: #fff; */
   padding: 100px 20px;
}

.services .flex {
   justify-content: center;
   align-items:center;
   flex-flow: column;
   gap: 20px;
}

.service-head{
   padding: 45px 0;
   width: 100%;
}

.service-router{
   margin-bottom:20px;
}

.service-router a{
   text-decoration: none;
}

.service-content {
   max-width:100%;
}

.service-title {
   font-size: 30px;
   font-weight: 500;
}

.service-txt {
   font-size: 17px;
   font-weight: 300;
}

.service-img {
   position: relative;
   width:100%;
   height: 600px;
   overflow: hidden;
}

.service-img .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 45px;
   background: rgba(0, 0, 0,0.2);
   color: #fff;
   transform: translateY(0);
   transition: 0.5s ease;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
}




