/** @format */

@media (max-width: 992px) {
   .logo-holder {
      display: none;
   }

   .navigation .logo {
      background: #fff;
      display: block;
      position: relative;
      z-index: 999;
      width: 70px;
      height: 70px;
   }

   .toggle {
      padding: 15px;
      background: #efefef;
      cursor: pointer;
      border-radius: 2px;
      position: fixed;
      z-index: 99;
      top: 25px;
      right: 20px;
   }

   .toggle .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px auto;
      background: rgba(74, 216, 74, 0.88);
   }

   .navbar-con {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 1000vh;
      background: rgba(128, 128, 128, 0.5);
      flex-direction: column;
      justify-content: start;
      align-items: center;
      z-index: 99;
      transition: 0.3s ease;
   }

   .navbar-con.active {
      position: fixed;
      left: 0;
      width: 300px;
      height: 1000vh;
      background: rgba(0, 0, 0, 0.88);
      z-index: 99;
      transition: 0.3s ease;
   }

   .navigation .navbar {
      flex-flow: column;
      margin-top: 150px;
   }

   .navbar .nav-item {
      padding: 30px 0;
   }

   .navbar .nav-item a {
      text-decoration: none;
      padding: 0;
      color: #fff;
   }
   .cli-btn {
      display: flex;
      flex-flow: column;
      align-items: center;
   }

   .hero .about-pg-nav .navbar a,
   .academy-navbar a,
   .academy-hero .btn-transparent {
      color: #fff !important;
   }

   .academy-page .navbar-con {
      padding-left: 0;
   }

   .academy-navbar {
      background: transparent;
   }
}

@media (max-width: 768px) {
   .home-about .flex,
   .why .flex,
   .footer .flex,
   .about .flex,
   .what-we-do .flex,
   .monials .flex,
   .services .flex,
   .gif .flex,
   .program .flex,
   .signUp-process .flex,
   .courses .flex {
      flex-flow: column;
      align-items: center;
   }

   .home-about .grid,
   .newsletter .grid,
   .how-it-works .grid,
   .course-form .grid {
      grid-template-columns: 1fr;
   }

   .why-img,
   .about-img,
   .what-we-do-img,
   .service-img,
   .service-img img,
   .academy-img {
      width: 100%;
   }

   .hero-content .hero-title {
      font-size: 2.5rem;
   }

   .newsletter {
      height: auto;
   }

   .news-content,
   .how-header {
      width: 100%;
      text-align: center;
      margin: auto;
   }

   .says .says-content {
      max-width: 100%;
   }

   .news-content .app-img,
   .app-link {
      margin: auto;
      justify-content: center;
   }

   .what-we-do-img {
      order: 2;
   }

   .form-title {
      text-align: center;
   }

   .info-title {
      text-align: center;
   }

   .footer-item {
      padding: 10px 0;
      text-align: center;
   }

   .footer-item a {
      text-align: center;
   }

   .footer-logo {
      margin: auto;
   }

   .our-academy {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: stretch;
      padding-top: 45px;
      min-height: auto;
   }
   .our-academy .flex {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      top: -250px;
      padding: 0 20px;
      justify-content: space-between;
      gap: 20px;
      flex-flow: column;
   }

   .our-acamdemy-content {
      max-width: 100%;
      justify-self: flex-start;
   }

   .pro-quote {
      max-width: 100%;
      margin: auto;
      text-align: center;
   }

   html,
   body {
      overflow-x: hidden;
   }
}
